.banner{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}
.banner__slogan{
    position: absolute;
    font-size: xxx-large;
}
.banner__content{
    color: red;
    width: 100%;
    overflow: hidden;
    border-radius: 3%;
    height: 223px;
}
.banner__content__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gray-filter{
    filter: brightness(70%);
}