.carousel{
    display: flex;
    justify-content: center;
    margin: 0% 5%;
    height: 540px;
    overflow: hidden;
}
.carousel__button{
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
    position: absolute;

}

.carousel__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 31px;
}
.left{
    left: 5%;
}
.right{
    right: 5%;
}
.carousel__button__arrow{
    width: 96px;
    height: 119px;
}
.carousel__button__content{
    display: flex;
    align-items: center;

}
@media screen and (max-width: 767px) {
    .carousel{
        height: 380px;
    }
}

