.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.footer__logo{
    height: 36px;
}
.footer__text{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
@media screen and (max-width: 767px) {
    .footer__text{
        font-size: 12px;
    }
}