.header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 1% 5%;
}
.header__logo {
	height: 50px;
}
.header__nav {
	color: #fd6868;
}
.header__nav__link {
	margin-left: 25px;
	text-decoration: none;
	color: #fd6868;
	font-weight: 500;
	font-size: 24px;
	line-height: 34.22px;
}
.active {
	text-decoration: underline;
}
@media screen and (max-width: 767px) {
    .header__nav__link{
        font-size: 17px;
		font-weight: bold;
    }
}