.localisation{
    height: auto;
    display: flex;
    justify-content: center;
    margin: 5%;
;
}
.localisation__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 25px;
    background-color: #F6F6F6;;
    padding: 4%;
}
.localisation__card{
    height: 400px;
    width: 400px;
    margin: 1%;
    border-radius: 10px;
    overflow: hidden;
}
.localisation__card__title{
    position: absolute;
    color: #FFFFFF;
    margin-top: 322px ;
    margin-left: 22px;
    width: 155px;
}
.localisation__card__cover{
    object-fit: cover;
    height: 100%;
    width: 100%;
}