.rating{
    margin: 0 5%;
    display: flex;
    justify-content: flex-end;
}
.rating__content{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .rating{
        margin: 0;
    }
    .rating__content__item{
        height: 25px;
    }
}

