.tags{
    display: flex;
}
.tags__item{
    display: flex;
    width: auto;
    height: 25px;
    background-color: #FF6060;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    padding: 0 20px;
    margin-right: 20px;
}